/* style sheet for Pet Website */
body{
  font-family: 'Arapey', serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

h1, h2, h3, h4 {
  font-family: 'Vidaloka', serif;
  margin:auto;
  padding: 10px 0px 10px 0px;
  text-align: justify;
}

.Header {
  font-family: 'Vidaloka', serif;
  display: block;
  margin:auto;
  font-size: 48px;
  text-align: center;
}

.smallerText {
  padding-top: 0px;
  font-size: 12px;
}

.centered {
  text-align: center;
}

.img-thumbnail {
  display: block;
  margin:auto;
}